*{
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
/*Gradient color*/
body {
	background: linear-gradient(-45deg,#032846,#08117d,#0F0B3F,#4e0e7e,#5f106e,#6c088d);
	background-size: 500% 500%;
	animation: gradient 15s ease infinite;
	color: white;
	font-family: 'Rhodium Libre', serif;
	margin: 0;
	padding: 0;
	font-size: 32px;
}
/*Gradient animation*/
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
nav{
	position: fixed;
    width: 100%;
	background-color: #201880;
}
nav>ul>li>a:hover{
    background: rgba(255, 255, 255, 0.30);
    transition: .3s;
}
.split{
	display: flex;
	flex-wrap: wrap;
}
.split-between{
	justify-content: space-between;
}
ul, h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
section{
	padding: 3.5rem 0 0 0;
}
img{
	display: block;
	max-width: 100%;
}
.text-center{
	text-align: center;
}
hr{
	width: 12rem;
}
a{
	text-decoration: none;
	color: white;
}
p,li{
	font-size: 1rem;
}
p{
	max-width: 40em;
}
/*Navigation*/
ul{
	justify-content: center;
}
ul>li{
	list-style: none;
}
ul>li>a{
	display: block;
	padding: 1rem;
}
ul.text{
	display: flex;
	font-size: 1.15rem;
}
ul.icons{
	display: none;
}
section>.split{
	/* justify-content: space-around; */
	align-items: center;
	flex-direction: row;
	min-height: 40rem;
}
#Home>section>.split{
	padding: 8rem 0;
}
@media only screen and (max-width:820px){
	body{
		font-size: 18px;
	}
	ul.text{
		display: none;
	}
	ul.icons{
		display: flex;
	}
	section>.split{
		flex-direction: column;
		padding: 4rem 0;
	}
	
}

/*Section home*/
section{
	margin-inline: auto;
	width: min(90%,80rem);
}

/* section>.split>*+*{
	margin-left:1rem;
} */
.img-profile{
	max-width: 12rem;
	margin: 2rem;
}

/*Skills section*/
#Skills>.split{
	align-items: flex-start;
}

/*TYPING ANIMATION*/
h1>span{
	color:#FF008A;
}
#Home>div.split>div{
	min-width: 40vw;
}

.card{
	width: 100%;
    min-width: 24vw;
    max-width: 250px;
	min-height: 250px;
    max-height: 300px;
    background-color: rgba(146,146,146,0.2);
    margin: 8px;
	padding: 8px;
    border-radius: 8px;
}
.card > img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#Home>.split{
	justify-content: space-around;
}
.split>{
	flex:1
}
.progress{
    height: 12px;
    background-color: rgb(26, 155, 9);
    border-radius: 8px;
}
.progress-bar{
	width: 100%;
    height: 12px;
    min-width: 250px;
    background-color: antiquewhite;
    border-radius: 8px;
}
.mt-1{
	margin-top: 16px;
}
.img-space{
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.txt-details{
	font-size: 16px;
}
.txt-details .material-icons{
	font-size: 16px;
}
footer{
	padding: 16px;
    justify-content: center;
    text-align: center;
}